<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Startseite</title>
</head>
<body>
    
    <table class='table'>
        <tr>
            <th>Habit</th><th>Beschreibung</th><th>Montag</th><th>Dienstag</th><th>Mittwoch</th><th>Donnerstag</th><th>Freitag</th><th>Samstag</th><th>Sonntag</th><th>Summe</th><th>Speichern</th>
        </tr>
        {% for habit in habits %}
            <tr>
                <td class='p-3'>{{habit.name}}</td>
                <td class='p-3'>{{habit.description}}</td>
                <form action="{% url 'habitapp:update_habit' habit.id %}" method="POST">
                    {% csrf_token %}
                <td>
                    <input type="checkbox" name="habit.monday" {% if habit.monday %}checked{% endif %}>
                </td>
                <td>
                    <input type="checkbox" name="habit.tuesday" {% if habit.tuesday %}checked{% endif %}>
                </td>
                <td>
                    <input type="checkbox" name="habit.wednesday" {% if habit.wednesday %}checked{% endif %}>
                </td>
                <td>
                    <input type="checkbox" name="habit.thursday" {% if habit.thursday %}checked{% endif %}>
                </td>
                <td>
                    <input type="checkbox" name="habit.friday" {% if habit.friday %}checked{% endif %}>
                </td>
                <td>
                    <input type="checkbox" name="habit.saturday" {% if habit.saturday %}checked{% endif %}>
                </td>
                <td>
                    <input type="checkbox" name="habit.sunday" {% if habit.sunday %}checked{% endif %}>
                </td>
                <td>{{habit.progress}}/{{habit.goal}}</td>
                <td>
                    <div class="input-group">
                        <input class="btn" type="submit" value="Speichern">
                    </div>
                </td>
            </form>
                    
            </tr>
        {% endfor %}
    </table>

    Vergessen am Montag zu löschen?</br>
    <a href="{% url 'habitapp:delete'%}">Löschen</a>

</body>
</html>